.wordChoice
{
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 25px;
}

a:hover.wordChoice:not(.disabled)
{
    color: rgb(218,165,32);
}

.disabled
{
    color: gray;
    cursor: not-allowed;
}

#formID
{
    max-height: 25%;
    max-width: 25%;
    padding-left: auto;
    padding-top: 1%;
}

#formID > #attemptSection
{
    text-align: right;
}

#explanationSection
{
    visibility: hidden;
}
